body{
	text-align: center;
	font-size: 1.2em;
	padding: 2px;
	height: auto;
	width: auto;
}

h1{
	margin-top: 10px;
	margin-bottom: 3px;
}

a{
	text-decoration: none;
}

.mid{
	width: 120px;
	margin-left: 45.5%;
}

.aumentar{
	width: 300px;
	margin-left: 530px;
}

section{
	text-align: center;
	height: auto;
	width: auto;
	margin-top: 20px;
}

.formu{
	width: 98.5%;
	height: 90px;
	text-align: center;
	margin: 10px;
	padding: 13px;
}

.formu form select{
	width: 160px;
}

.formu form button{
	margin-left: 20px;
	height: 37px;
}

.formu form label{
	margin-left: 15px;
}

table{
	text-align: center;
    border-collapse:collapse;
    border-width:2px;
    border-style:solid;
    border-color:#000000; 
    width: 80%;
    margin: 5px;
    margin-left: 10%;  
}

td, th, tr{
    border-collapse:collapse;
    border:2px solid #000000;
    text-align: center;
}

.hidden{
	display: none;
}

button{
	text-decoration: none;
	background: transparent;
}

button:hover{
	text-decoration: none;
	background: transparent;
}